[flake8]
import-order-style = pep8
max-line-length = 120
ignore = I202, F403, F405, E203, W503, D413, D202, D105, D106, D300, D400, D401, E722, E231, I100
copyright-check = True
select = E,F,W,C,D,I
copyright-min-file-size=1
